@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,700;1,400&display=swap");

:root {
  --primary-color: #fd566f;
  --primary-color-dark: #f33958;
  // --text-color: #222222;
  --text-color: #3a3973;
  // --text-color-light: #3f3f3f;
  --text-color-light: #3344a5;
  --text-color-dark: #2f2f2f;
  --text-color-white: #f8ffff;
  // --background-light-1: #fffef9;
  --background-light-1: #f9ffff;
  // --background-light-2: #fff6ec;
  --background-light-2: #ebf4fa;
  --background-light-3: #d9d9e4;
  --background-dark: #393972;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--background-light-1);
  color: var(--text-color);
}

.row {
  max-width: 1200px;
  margin: auto;
}

h2 {
  font-family: "EB Garamond", serif;
  text-align: center;
  color: var(--primary-color);
  &::after {
    content: "";
    display: block;
    width: 5rem;
    height: 2px;
    background-color: var(--primary-color);
    margin: 1rem auto;
  }
}

h3 {
  font-family: "EB Garamond", serif;
  font-size: 1.3rem;
  text-align: center;
  color: var(--primary-color);
}

p a {
  text-decoration: none;
  color: var(--primary-color);
  transition: border-bottom 0.2s;
  border-bottom: 1px solid transparent;

  &:hover {
    color: var(--primary-color-dark);
    border-bottom: 1px solid;
  }
}
.image__container {
  margin-bottom: 1.5rem;
}
