.title {
  font-family: "EB Garamond", serif;
  text-align: center;
  color: var(--primary-color);
  &::after {
    content: "";
    display: block;
    width: 5rem;
    height: 2px;
    background-color: var(--primary-color);
    margin: 1rem auto;
  }
}

.posts {
  list-style-type: none;
  margin: 0;
}

.post {
  margin: 0;
  padding: 1rem 0;
  text-align: center;
  &:not(:last-child) {
    border-bottom: 3px solid var(--background-light-2);
  }

  a {
    color: var(--text-color);
    text-decoration: none;
    display: block;
    padding: 1rem 0;
  }

  a:hover {
    background: var(--background-light-2);
    color: var(--text-color-light);
  }

  h2 {
    margin-bottom: 0.3rem;
  }

  // &__title {
  //   font-family: "EB Garamond", serif;
  //   text-align: center;
  //   color: var(--primary-color);
  //   font-size: 1.3rem;
  // }

  &__date {
    font-style: italic;
    font-size: 0.8rem;
    text-align: center;
  }

  &__img {
    margin: 0 auto 1.5rem;
    display: block;
    max-height: 350px;
  }

  &__author,
  &__published {
    font-weight: 700;
    font-size: 0.7rem;
    margin-bottom: 1rem;
  }

  &__text {
    font-size: 0.9rem;
  }
}
