.aside {
  display: block;
  max-width: 400px;
  padding: 2rem;
  margin: 0 auto;

  @media screen and (max-width: 750px) {
    max-width: 100%;
  }

  .title {
    font-family: "EB Garamond", serif;
    color: var(--primary-color);
    text-align: center;
  }

  .text {
    padding-bottom: 1.5rem;
    border-bottom: 3px solid var(--background-light-2);
  }

  .images {
    display: grid;
    column-gap: 0.5rem;
    row-gap: 0.5rem;
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 1.5rem;
    border-bottom: 3px solid var(--background-light-2);
    margin-bottom: 1.45rem;
  }

  ul {
    margin: 0;
    list-style: none;
    font-size: 2.5rem;
    display: flex;
    justify-content: space-evenly;

    .facebook {
      color: #4267b2;
    }

    .instagram {
      color: #c13584;
    }
  }
}
