.header {
  padding: 2rem 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-light-2);
  background-image: url(../img/flowers.png);
  background-position: bottom;
}

.title {
  font-family: "EB Garamond", serif;
  text-align: center;
  color: var(--primary-color);
  font-weight: 500;
  font-size: 3rem;
  text-decoration: none;
}

.nav-list {
  display: flex;
  list-style-type: none;
  margin: 0;
  background-color: var(--background-light-2);
  padding: 1rem;

  li:not(:last-child) {
    margin-right: 1.3rem;
  }
}

.nav-item {
  color: var(--text-color);
  text-decoration: none;
  font-weight: 700;
}

.nav-item:hover {
  color: var(--text-color-light);
}

// .active-nav-item {
//   color: var(--text-color-dark);
// }

.quote {
  background-color: var(--background-light-2);
  margin-bottom: 0.5rem;
  padding: 1rem;
  font-style: italic;
  text-align: center;
  & span {
    font-style: normal;
  }
}
